<h1> <%= @cats.name %></h1>



<table>
    <tbody>
        <tr>
            <td>ATTRIBUTE</td>
            <td>VALUE</td>
        </tr>
         <tr>
            <td>AGE</td>
            <td><%= @cats.age %></td>       
        </tr>
         <tr>
            <td>BIRTH_DATE</td>
            <td><%= @cats.birth_date %></td>       
        </tr>
         <tr>
            <td>COLOR</td>
            <td><%= @cats.color %></td>       
        </tr>
         <tr>
            <td>SEX</td>
            <td><%= @cats.sex %></td>       
        </tr>
    </tbody>
</table>